# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../../:\Users\avira\Desktop\הנדסת מערכות מידע\שנה ג\סמסטר ב\נושאים מתקדמים בתכנות\פרוקייט\חלק ג-הגשה-02.06.19 דחייה 16.06.19 הארכה מילואים 19.06.19\הוגש\00\project\204318851_311402390\ATP - Project - PartC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
